In [1]:
import pandas as pd
import seaborn as sns

In [2]:
file_name = 'result_all'

In [3]:
df = pd.read_csv(f'output/{file_name}.csv')

/home/pereg/.cache/pypoetry/virtualenvs/imdb-SU7xxC1A-py3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (1,2,3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.describe()

,title,year,rating,votes,duration,genres,certificate,synopsis,directors,actors
count,1154535,953819.0,645873.0,645872.0,765518.0,1084276,265702,817093,974475,974475
unique,410255,243.0,182.0,28107.0,621.0,1787,46,295250,143188,381635
top,Broken,2018.0,6.2,9.0,90.0,Drama,Not Rated,Plot unknown.,William Beaudine,"Nobuyo Ôyama,Noriko Ohara,Michiko Nomura,Kanet..."
freq,108,27137.0,21588.0,11601.0,52346.0,221060,76453,1796,560,135

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154535 entries, 0 to 1154534
Data columns (total 10 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   title        1154535 non-null  object
 1   year         953819 non-null   object
 2   rating       645873 non-null   object
 3   votes        645872 non-null   object
 4   duration     765518 non-null   object
 5   genres       1084276 non-null  object
 6   certificate  265702 non-null   object
 7   synopsis     817093 non-null   object
 8   directors    974475 non-null   object
 9   actors       974475 non-null   object
dtypes: object(10)
memory usage: 88.1+ MB

In [6]:
df = pd.concat([df, df['actors'].str.split(',', expand=True)], axis=1)
df.rename(columns={0: 'actor1', 1: 'actor2', 2: 'actor3', 3: 'actor4'}, inplace=True)

df = pd.concat([df, df['directors'].str.split(',', expand=True)], axis=1)
df.rename(columns={0: 'director1', 1: 'director2', 2: 'director3'}, inplace=True)

df = pd.concat([df, df['genres'].str.split(',', expand=True)], axis=1)
df.rename(columns={0: 'genre1', 1: 'genre2', 2: 'genre3'}, inplace=True)

In [7]:
df.drop(['actors', 'directors', 'genres'], axis=1, inplace=True)
for column in range(len(df.columns)):
    try: df.drop(column, axis=1, inplace=True)
    except: pass

In [8]:
df.drop_duplicates(inplace=True)

In [14]:
#Replace nan values from column votes with 0
df['votes'] = df['votes'].fillna(0)

In [19]:
df.dropna(inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 544 entries, 25 to 386163
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        544 non-null    object
 1   year         544 non-null    object
 2   rating       544 non-null    object
 3   votes        544 non-null    object
 4   duration     544 non-null    object
 5   certificate  544 non-null    object
 6   synopsis     544 non-null    object
 7   actor1       544 non-null    object
 8   actor2       544 non-null    object
 9   actor3       544 non-null    object
 10  actor4       544 non-null    object
 11  director1    544 non-null    object
 12  director2    544 non-null    object
 13  director3    544 non-null    object
 14  genre1       544 non-null    object
 15  genre2       544 non-null    object
 16  genre3       544 non-null    object
dtypes: object(17)
memory usage: 76.5+ KB

In [ ]:
# df.to_csv(f'output/{file_name}_transform.csv', index=False)