In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('output/result_all_transform_clean.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124365 entries, 0 to 124364
Data columns (total 14 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   title      124365 non-null  object
 1   year       119234 non-null  float64
 2   rating     124365 non-null  float64
 3   synopsis   122159 non-null  object
 4   actor1     124128 non-null  object
 5   actor2     123972 non-null  object
 6   actor3     123616 non-null  object
 7   actor4     123003 non-null  object
 8   director1  124128 non-null  object
 9   director2  8928 non-null    object
 10  director3  1501 non-null    object
 11  genre1     124324 non-null  object
 12  genre2     90207 non-null   object
 13  genre3     51606 non-null   object
dtypes: float64(2), object(12)
memory usage: 13.3+ MB

In [17]:
#Only keep movies where the year is 2022
df = df[df['year'] == '2022']

In [18]:
df.describe()

       year  rating
count   0.0     0.0
mean    NaN     NaN
std     NaN     NaN
min     NaN     NaN
25%     NaN     NaN
50%     NaN     NaN
75%     NaN     NaN
max     NaN     NaN