In [7]:
import pandas as pd

In [17]:
df = pd.read_csv('output/result_all_transform.csv')

In [18]:
df.describe()

                year         rating         votes       duration
count  421373.000000  255848.000000  2.558470e+05  313878.000000
mean     1985.515351       5.975469  4.520761e+03      93.897667
std        31.048290       1.279390  3.489163e+04      25.870181
min      1903.000000       1.000000  5.000000e+00       1.000000
25%      1965.000000       5.200000  2.300000e+01      80.000000
50%      1994.000000       6.100000  9.200000e+01      91.000000
75%      2013.000000       6.800000  5.920000e+02     104.000000
max      2028.000000      10.000000  2.515397e+06     999.000000

In [52]:
# Keep value where votes > 100
df2 = df[df['votes'] > 100]

In [49]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124365 entries, 0 to 504879
Data columns (total 17 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   title        124365 non-null  object
 1   year         119234 non-null  float64
 2   rating       124365 non-null  float64
 3   votes        124365 non-null  float64
 4   duration     122854 non-null  float64
 5   certificate  77459 non-null   object
 6   synopsis     122159 non-null  object
 7   actor1       124128 non-null  object
 8   actor2       123972 non-null  object
 9   actor3       123616 non-null  object
 10  actor4       123003 non-null  object
 11  director1    124128 non-null  object
 12  director2    8928 non-null    object
 13  director3    1501 non-null    object
 14  genre1       124324 non-null  object
 15  genre2       90207 non-null   object
 16  genre3       51606 non-null   object
dtypes: float64(4), object(13)
memory usage: 17.1+ MB

In [53]:
df2.drop(['votes', 'certificate', 'duration'], axis=1, inplace=True)

/home/pereg/.cache/pypoetry/virtualenvs/imdb-SU7xxC1A-py3.9/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [54]:
df2

,title,year,rating,synopsis,actor1,actor2,actor3,actor4,director1,director2,director3,genre1,genre2,genre3
0,Spider-Man: No Way Home,2021.0,8.8,"With Spider-Man's identity now revealed, Peter...",Tom Holland,Zendaya,Benedict Cumberbatch,Jacob Batalon,Jon Watts,NaN,NaN,Action,Adventure,Fantasy
4,The King's Man,2021.0,6.8,"In the early years of the 20th century, the Ki...",Ralph Fiennes,Gemma Arterton,Rhys Ifans,Harris Dickinson,Matthew Vaughn,NaN,NaN,Action,Adventure,Comedy
5,Pushpa: The Rise - Part 1,2021.0,8.1,"Story of Pushpa Raj, a lorry driver in Seshach...",Allu Arjun,Fahadh Faasil,Rashmika Mandanna,Dhananjaya,Sukumar,NaN,NaN,Action,Adventure,Crime
6,Spider-Man,2002.0,7.3,"When bitten by a genetically modified spider, ...",Tobey Maguire,Kirsten Dunst,Willem Dafoe,James Franco,Sam Raimi,NaN,NaN,Action,Adventure,Sci-Fi
7,Spider-Man: Homecoming,2017.0,7.4,Peter Parker balances his life as an ordinary ...,Tom Holland,Michael Keaton,Robert Downey Jr.,Marisa Tomei,Jon Watts,NaN,NaN,Action,Adventure,Sci-Fi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480520,Kala Jigar,1939.0,3.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481634,Full Cycle,1994.0,3.5,NaN,K. Todd Freeman,Rita Karin,Michael Raynor,Bitty Schram,Shira-Lee Shalit,NaN,NaN,NaN,NaN,NaN
494599,American Born,1999.0,5.8,NaN,Otis Bell,Jack Kyle,P.J. Marino,Adoni Maropis,Seidy Lopez,NaN,NaN,NaN,NaN,NaN
498448,The Tone Scale,1985.0,2.1,NaN,L. Ron Hubbard,Jason Johnson,NaN,NaN,L. Ron Hubbard,NaN,NaN,NaN,NaN,NaN
504879,"Zhenshchina, kotoraya poyot",1979.0,5.7,NaN,Alla Pugacheva,Alla Budnitskaya,Nikolay Volkov,Aleksandr Khochinsky,Aleksandr Orlov,NaN,NaN,Musical,NaN,NaN

In [ ]:
df2.to_csv('output/result_all_transform_clean.csv', index=False)