In [83]:
import pandas as pd
import seaborn as sns

In [84]:
file_name = 'upcoming'

In [85]:
df = pd.read_csv(f'../data/{file_name}.csv')

In [86]:
df.describe()

       rating    year    duration  votes
count     0.0   849.0  333.000000    0.0
mean      NaN  2022.0   98.096096    NaN
std       NaN     0.0   22.436317    NaN
min       NaN  2022.0   18.000000    NaN
25%       NaN  2022.0   87.000000    NaN
50%       NaN  2022.0   95.000000    NaN
75%       NaN  2022.0  110.000000    NaN
max       NaN  2022.0  180.000000    NaN

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 849 entries, 0 to 848
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        849 non-null    object
 1   rating       0 non-null      float64
 2   year         849 non-null    int64
 3   duration     333 non-null    float64
 4   votes        0 non-null      float64
 5   certificate  54 non-null     object
 6   image        849 non-null    object
 7   synopsis     582 non-null    object
 8   actors       778 non-null    object
 9   directors    778 non-null    object
 10  genres       806 non-null    object
dtypes: float64(3), int64(1), object(7)
memory usage: 73.1+ KB

In [88]:
df = pd.concat([df, df['actors'].str.split(',', expand=True)], axis=1)
df.rename(columns={0: 'actor1', 1: 'actor2', 2: 'actor3', 3: 'actor4'}, inplace=True)

df = pd.concat([df, df['directors'].str.split(',', expand=True)], axis=1)
df.rename(columns={0: 'director1', 1: 'director2', 2: 'director3'}, inplace=True)

df = pd.concat([df, df['genres'].str.split(',', expand=True)], axis=1)
df.rename(columns={0: 'genre1', 1: 'genre2', 2: 'genre3'}, inplace=True)

In [89]:
df.drop(['actors', 'directors', 'genres'], axis=1, inplace=True)
for column in range(len(df.columns)):
    try: df.drop(column, axis=1, inplace=True)
    except: pass

In [90]:
df.drop_duplicates(inplace=True)

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 849 entries, 0 to 848
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        849 non-null    object
 1   rating       0 non-null      float64
 2   year         849 non-null    int64
 3   duration     333 non-null    float64
 4   votes        0 non-null      float64
 5   certificate  54 non-null     object
 6   image        849 non-null    object
 7   synopsis     582 non-null    object
 8   actor1       778 non-null    object
 9   actor2       757 non-null    object
 10  actor3       713 non-null    object
 11  actor4       674 non-null    object
 12  director1    778 non-null    object
 13  director2    61 non-null     object
 14  director3    8 non-null      object
 15  genre1       806 non-null    object
 16  genre2       293 non-null    object
 17  genre3       121 non-null    object
dtypes: float64(3), int64(1), object(14)
memory usage: 126.0+ KB

In [92]:
df.drop(['votes', 'rating', 'image'], axis=1, inplace=True)

In [93]:
df.to_csv(f'../data/{file_name}_transform.csv', index=False)